.main-wrap{
    border: 1px solid;
    width: 30%;
    height: 60%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    height: 50px;
}
.header h4 {
    font-size: 23px;
    color: #070602;
    font-weight: 700;
}
.header span{
    font-size: 18px;
    color: #222222;
}
.cake-field input{
    background-color: #ECECEC;
    width: 85%;
    height: 35px;
    border-radius: 6px;
    border: none;
}

.cake-usd {
    display: flex;
    justify-content: end;
}

/* Add this CSS to your component's CSS file or a global CSS file */
.switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 40px;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  